@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

body {
    font-family: Bebas Neue, sans-serif;
    background-color: bisque;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

#logo {
    font-size: 350%;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

.header-item {
    flex: 1;
}

#rules {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: Bebas Neue, sans-serif;
}

#rules button:hover {
    transform: scale(1.1);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

/* game area */

.game-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-area > p {
    text-align: center;
    font-size: 130%;
}

.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.selection {
    border: none;
    outline: none;
    background: none;
}

.selection > img {
    height: 150px;
    width: 200px;
}

.selection img:hover {
    transform: scale(1.1);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.playing-area {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;
    gap: 50px;
}

.playing-area, h3 {
    font-size: 130%;
    font-weight: 100;
    text-align: center;
}

img {
    width: 250px;
    height: 200px;
}

footer {
    text-align: center;
    margin: 2rem;
    font-size: 130%;
}

footer > p {
    font-family: Abel, sans-serif;
}