@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

body {
    font-family: Bebas Neue, sans-serif;
}

header {
    font-size: 250%;
    text-align: center;
}

/* game area */

.game-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-area > p {
    text-align: center;
    font-size: 200%;
}

.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.selection > img {
    height: 150px;
    width: 200px;
}

.selection img:hover {
    transform: scale(1.1);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.playing-area {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;
    gap: 50px;
}

.playing-area, h3 {
    font-size: 150%;
    font-weight: 100;
    text-align: center;
}

img {
    width: 350px;
    height: 250px;
}

footer {
    text-align: center;
    margin: 2rem;
    font-size: 130%;
}

footer > p {
    font-family: Abel, sans-serif;
}